<section id="purchase" class="purchase">
    <div class="container text-center package-text">
        <br>
        <br>
        <br>
        <br>
        <br>
        <h2>PURCHASE</h2>    
        <br>
        <br>
        <br>
        <br>
    </div>
</section>

<br>
<br> 

<div class="table-responsive container table-bordered">
    <table class="table">
        <tr>
            <td><strong>Package</strong></td>
            <td><strong>Price</strong></td>
            <td><strong>Purchase</strong></td>
        </tr>    
        <tr>
            <td>Florida Theme Park Getaway</td>
            <td>$295</td>
            <td><a href="/packages/1" class="btn btn-success">Purchase</a></td>
        </tr>    
        <tr>
            <td>Mexico Cruise</td>
            <td>$495</td>
            <td><a href="/packages/2" class="btn btn-success">Purchase</a></td>
        </tr> 
        <tr>
            <td>Ultimate Destinations</td>
            <td>$325</td>
            <td><a href="/packages/3" class="btn btn-success">Purchase</a></td>
        </tr>         
        <tr>
            <td>Timeout Vacations</td>
            <td>$335</td>
            <td><a href="/packages/4" class="btn btn-success">Purchase</a></td>
        </tr> 
        <tr>
            <td>California Theme Park Getaway</td>
            <td>$295</td>
            <td><a href="/packages/5" class="btn btn-success">Purchase</a></td>
        </tr> 
        <tr>
            <td>Dominican Republic Cruise</td>
            <td>$495</td>
            <td><a href="/packages/6" class="btn btn-success">Purchase</a></td>
        </tr> 
    </table>
</div>