<nav class="navbar fixed-top navbar-light bg-faded mynavbar">
    <a class="navbar-brand" href="/"><img src="/assets/img/magentatravel-small.png"></a>
    <div id="navbarNav">
        <ul class="inlineList" style="padding:0px">
            <li>
                <a class="nav-link" href="/" style="padding:7px"><font color="black">HOME</font></a>
            </li>
            <li>
                <a class="nav-link" href="/#about" style="padding:7px"><font color="black">ABOUT US</font></a>
            </li>
            <li>
                <div class="dropdown">
                    <button type="button" class="btn dropdown-toggle transparent-button" data-toggle="dropdown">
                        <font color="black">PACKAGES</font>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/#usf">Florida Theme Park Getaway</a>
                        <a class="dropdown-item" href="/#mexico">Mexico Cruise</a>
                        <a class="dropdown-item" href="/#lasvegas">Ultimate Destinations</a>
                        <a class="dropdown-item" href="/#cottages">Timeout Vacations</a>
                        <a class="dropdown-item" href="/#disney">California Theme Park Getaway</a>
                        <a class="dropdown-item" href="/#beach">Dominican Republic Cruise</a>
                    </div>
                </div>
            </li>
            <li>
                <a class="nav-link" href="/team" style="padding:7px"><font color="black">TEAM</font></a>
            </li>
            <li>
                <a class="nav-link" href="/career" style="padding:7px"><font color="black">CAREER</font></a>
            </li>
            <li>
                <a class="nav-link" href="/purchase" style="padding:7px"><font color="black">PURCHASE</font></a>
            </li>
            <li>
                <a class="nav-link" href="/#contact" style="padding:7px"><font color="black">CONTACT US</font></a>
            </li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
        <div class="col-lg-10 mx-auto text-center">
            <h4>
            <strong><a href="/">Magentatravel.us</a></strong>
            </h4>
            <p>2713 Heritage Lane 
            <br>Bradenton FL 34209</p>
            <ul class="list-unstyled">
            <li>
                <i class="fa fa-phone fa-fw"></i>
                941 201 7680</li>
            <li>
                <i class="fa fa-envelope-o fa-fw"></i>
                <a href="mailto:sales@magentatravel.us">sales@magentatravel.us</a>
            </li>
            </ul>
            <br>
            <ul class="list-inline">
            <li class="list-inline-item">
                <a href="#">
                <i class="fa fa-facebook fa-fw fa-3x"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="#">
                <i class="fa fa-twitter fa-fw fa-3x"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="#">
                <i class="fa fa-instagram fa-fw fa-3x"></i>
                </a>
            </li>
            </ul>
            <hr class="small">
            <p class="text-muted">Copyright &copy; Magentatravel.us 2017</p>
        </div>
        </div>
    </div>
    <a id="to-top" href="#top" class="btn btn-dark btn-lg js-scroll-trigger">
        <i class="fa fa-chevron-up fa-fw fa-1x"></i>
    </a>
</footer>