<section id="career" class="career">
    <div class="container text-center">
        <br>
        <br>
        <br>
        <h2>CAREER</h2> 
    </div>
</section>

<section id="about" class="about">
    <div class="container text-left">
        <div class="row">
            <div class="col-sm-6">
                <p><strong>Why Magenta Travel?</strong></p>
                <p>The Magenta Travel Family takes pride in the fact that we have visited face to face with almost 200,000 prospects over the years.  We continue to remain the most popular source of vacation packages in the community.  Instead of spending millions of dollars a year on TV commercials and public advertising, we spend our marketing budget on providing our qualified prospects with a high value travel gift to come meet with us in person!  It's that simple.</p> 
            </div>
            <div class="col-sm-6">
                <p><strong>Open Posistions</strong></p>
                <p>Appointment Setter</p> 
                <p>Customer Service Representatives</p>
                <p>If you have a passion for travel and enjoy working with customers over the phone, the apply today.  We welcome you to join our team of booking agents and enjoy the perks of working for the fastest growing promotions company in the industry.</p>
                <p>We are seeking to interview those candidates that posses the following characteristics:  Energetic personality, self-motivated, organized, basic computer skills and most of all, dependable.</p>
                <p>Full time positions, hourly plus commission.</p>
                <p>Paid training.</p>
                <p>PM positions available</p>
                <p>Hourly plus commission</p>
                <br>
                <br>
                <p>Basic Requirements:</p>
                <p>Excellent oral, written, presentation and communication skills</p>
                <p>High scholl diplomas/some collge preferred</p>
                <p>Reliable transportation</p>
            </div>
        </div>
    </div>
</section>